label {
    font-weight: bold;
    font-size: 17px;
}

.btn {
    font-size: 17px;
}

.form-control {
    font-size: 17px;
}

.alert {
    font-weight: bold;
    font-size: 17px;
    padding: 10px;
    width: 110%;
    margin-left: -60px;

}

table {
    font-size: 15px;
}