label {
    font-weight: bold;
    font-size: 17px;
}

.btn {
    font-size: 17px;
}

.form-control {
    font-size: 17px;
}

.alert {
    font-weight: bold;
    font-size: 17px;
}

table {
    font-size: 15px;
}
