{% extends "layout.html" %}
{% block body %}

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}
{% endif %}
{% endwith %}

<div class="card card-body">
    <form action="/update/{{id.0}}" method="POST">
        <div class="form-group">
            <label for="fecha_registro">Fecha de registro</label>
            <input type="datetime" name="fecha_registro" value="{{id.1}}" placeholder="" class="form-control">
        </div>
        <div class="form-group">
            <label for="identificador_laboratorio">Identificador de laboratorio</label>
            <input type="text" name="identificador_laboratorio" value="{{id.2}}" placeholder="" class="form-control">
        </div>
        <div class="form-group">
            <label for="nombre_docente">Nombre de docente</label>
            <input type="text" name="nombre_docente" value="{{id.3}}" placeholder="" class="form-control">
        </div>
        <div class="form-group">
            <label for="correo_electronico">Correo electrónico</label>
            <input type="text" name="correo_electronico" value="{{id.4}}" placeholder="" class="form-control">
        </div>
        <div class="form-group">
            <label for="programa">programa</label>
            <input type="text" name="programa" value="{{id.5}}" placeholder="" class="form-control">
        </div>
        <div class="form-group">
            <label for="hora_ingreso">Hora de ingreso</label>
            <input type="datetime" name="hora_ingreso" value="{{id.6}}" placeholder="" class="form-control">
        </div>
        <div class="form-group">
            <label for="hora_salida">Hora de salida</label>
            <input type="datetime" name="hora_salida" value="{{id.7}}" placeholder="" class="form-control">
        </div>
        <div class="form-group">
            <label for="observacion">Observaciones</label>
            <textarea name="observacion" placeholder="" class="form-control">{{id.8}}</textarea>
        </div>
        <div class="form-group">
            <label for="respuesta_incidencia">Respuesta de incidencias</label>
            <textarea name="respuesta_incidencia" placeholder="" class="form-control">{{id.9}}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Modificar</button>
    </form>
</div>

{% endblock %}