{% extends "layout.html" %}
{% block body %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/styles2.css')}}">

<div class="header d-flex justify-content-end">
    <h5>
        <a href="/admin">Volver</a>
    </h5>

</div>

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}
{% endif %}
{% endwith %}

<div class="table-responsive">
    <table class="table table-striped table-bordered bg-white">
        <thead>
            <tr>
                <th><b>Ítem</b></th>
                <th><b>Fecha</b></th>
                <th><b>Aula</b></th>
                <th><b>Nombres</b></th>
            </tr>
        </thead>
        <tbody>
            {% for data in data %}
            <tr>
                <td>{{ data.0 }}</td>
                <td>{{ data.1 }}</td>
                <td>{{ data.2 }}</td>
                <td>{{ data.3 }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}